* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 20px 0;
  padding: 20px;
}

select,
button {
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  padding: 20px;
  font-weight: 400;
}
